.root{
	 -fx-font-weight: bold;
	 -fx-font-size:18;
}
.button{

	 -fx-border-style: solid;
	 -fx-border-color: rgb(70,130,180);	
	 -fx-border-width: 3px;
	 -fx-background-color: rgb(135,206,250);
}
.button:hover{
	-fx-background-color: rgb(70,130,180);
}
.menuRoot{
	 -fx-border-style: solid;
 	 -fx-border-color: rgb(70,130,180);
 	 -fx-border-width: 7px;
	 -fx-background: rgb(95,158,160);
}
.jatekRoot{
	 -fx-background-color:white;
	 -fx-border-style: solid;
 	 -fx-border-color: rgb(70,130,180);
 	 -fx-border-width: 2px;
}
.jobbMenu{
	-fx-border-style: solid;
 	-fx-border-color: rgb(70,130,180);
 	-fx-border-width: 5px;
}
.cimke{
	-fx-font-size:30;
		
}
.mezoBar{
	 -fx-border-style: dashed;
 	 -fx-border-color: rgb(70,130,180);
 	 -fx-border-width: 3px;
	 -fx-background-color: rgb(224,255,255);
	 -fx-font-weight: normal;
	 -fx-font-size:22;
}
.mezoButton{
	-fx-padding: 0;
	-fx-border-radius: 50%;
	-fx-background-radius: 50%;
	-fx-background-color: rgb(82,82,82);
	
	
}
.mezoButton:focused,
.mezoButton:selected,
.mezoButton:selected:focused {
    	-fx-border-width: 8px;
	-fx-border-color:black;
}
.mezoButton:hover{
	-fx-background-color: rgb(82,82,82);
	-fx-border-color: black;
	-fx-border-width: 8px;
}

.targyButton{
	-fx-padding: 0;
	-fx-background-color: rgb(224,255,255);
	
}
.targyButton:focused,
.targyButton:selected,
.targyButton:selected:focused {
    	-fx-border-width: 6px;
	-fx-border-color: black;
}
.targyButton:hover{
	-fx-background-color: rgb(224,255,255);
	-fx-border-color: black;
	-fx-border-width: 6px;
}
.scroll-pane > .viewport {
	-fx-background-color: rgb(224,255,255);
	-fx-border-color: rgb(70,130,180);
	-fx-border-width: 3px;
}
